*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
ul{
    justify-content: space-between;
    display: flex;
    list-style: none;
}
.menu-nav a{
    padding: 20px;
    text-decoration: none;
    color: black;
}
select{
border-color: white;
}
button{

    border-radius: 5px;
    color: white;
    width: 80px;
    height: 30px;
    border-color: blue;
    background:blue;
    font-family: initial;
}





.fero{
    margin-left: 150px;
}
.cour{
    margin-top: -30px;
    margin-left: -140px;
    color: blue;
}

.dd{
    margin-top: -20px;
    color: brown;
}
.menu-nav{
    margin-right: 50px;
}
.home{
    color: blue;
}
.btn{
    margin-right: 180px;
}



main{
    height: 400px;
    width: 100%;
    background:linear-gradient(#73c6fa,#dabeff);
}



.gauche{
    width: 50%;
    height: 100%;
    justify-content: space-between;
    align-items: center;
    text-align: center;
} 


.texte{
    margin-top: 70px;
    
}

.texte .title h6{
color: rgb(0, 81, 255);
}


.texte h3{
    margin-left: 100px;
    margin-top: 30px;
    font-size: 30px;
}

.texte h6{
    margin-top: 20px;
}

.search{
    margin-top: 30px;    margin-left: 100px;
    width: 430px;
    height: 45px;
    border-radius: 50px;
    background-color: blue;
}
.texte .search input{
    margin-left: -55px;
    font-size: 30px;
    margin-top: 2px;
    border-radius: 50px;
}



/* buryoo */
 
.droite{
    margin-top: -400px;
    margin-left: 50%;
    width: 50%;
    height: 100%;
}


.droite ul li .loa img{
    margin-top: 15px;
    margin-left: 150px;
    border-radius: 50%;
}




 

.droite .boutton ul li .cercle .haut{
    margin-top: -350px;
    margin-left: 170px;
    width: 45px;
    height: 45px;
    background: rgb(255, 255, 255);
    border-radius: 50%;
    box-shadow: -8px -8px 15px rgba(0, 110, 255, 0.1),5px 5px 15px rgba(174, 0, 255, 0.2);
}

.droite .boutton ul li .cercle .bas{
    margin-left: 350px;
    margin-top: 250px;
    width: 45px;
    height: 45px;
    background: rgb(255, 255, 255);
    border-radius: 50%;
    box-shadow: -8px -8px 15px rgba(0, 110, 255, 0.1),5px 5px 15px rgba(174, 0, 255, 0.2);
}



.droite .boutton ul li .cadre .hej{
    margin-left: -50px;
    margin-top: -350px;
    width: 80px;
    height: 45px;
    background: rgb(255, 255, 255);
    border-radius: 5px;
    box-shadow: -8px -8px 15px rgba(0, 110, 255, 0.1),5px 5px 15px rgba(174, 0, 255, 0.2);
}

.droite .boutton ul li .cadre .left{
    margin-left: -280px;
    margin-top: 200px;
    width: 80px;
    height: 45px;
    background: rgb(255, 255, 255);
    border-radius: 5px;
    box-shadow: -8px -8px 15px rgba(0, 110, 255, 0.1),5px 5px 15px rgba(174, 0, 255, 0.2);
}

.droite .boutton ul li .cadre .right{
    margin-top: -80px;
    margin-right: 200px;
    width: 80px;
    height: 45px;
    background: rgb(255, 255, 255);
    border-radius: 5px;
    box-shadow: -8px -8px 15px rgba(0, 110, 255, 0.1),5px 5px 15px rgba(174, 0, 255, 0.2);
}





/*  







.bas{
    margin-top: 250px;
    margin-left: 930px;
    width: 45px;
    height: 45px;
    background: rgb(255, 0, 0);
    border-radius: 50%;
    box-shadow: -8px -8px 15px rgba(0, 110, 255, 0.1),5px 5px 15px rgba(174, 0, 255, 0.2);
}



.hej{
    margin-top: -330px;
    margin-right: 300px;
    width: 80px;
    height: 35px;
    background: rgb(252, 0, 0);
    border-radius: 5px;
    box-shadow: -8px -8px 15px rgba(0, 110, 255, 0.1),5px 5px 15px rgba(174, 0, 255, 0.2);
}

.left{
    margin-top: 180px;
    margin-left: -240px;
    width: 80px;
    height: 35px;
    background: rgb(255, 0, 0);
    border-radius: 5px;
    box-shadow: -8px -8px 15px rgba(0, 110, 255, 0.1),5px 5px 15px rgba(174, 0, 255, 0.2);
}
.right{
    margin-top: -30px;
    width: 80px;
    height: 35px;
    background: rgb(255, 0, 0);
    border-radius: 5px;
    box-shadow: -8px -8px 15px rgba(0, 110, 255, 0.1),5px 5px 15px rgba(174, 0, 255, 0.2);
}







input{
    margin-left: 1.5px;
    margin-top: 1.5px;
    width: 300px;
    height: 30px;
    border-radius: 20px;
    border-color: white;
}


.search{ 
    width: 350px;
    height: 40px;
    border-radius: 20px;
    background: blue;
}





 */
